@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap");

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Root Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #343a40;
  --border-radius: 12px;
}

/* Container */
.containerr {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  padding: 20px;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar .logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  gap: 3px;
}

.navbar .logo span {
  background-color: #fff;
  color: var(--primary-color);
  padding: 0 3px;
  border-radius: 4px;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 35px;
}

.navbar ul li {
  position: relative;
  overflow: hidden;
  padding: 5px 0;
  z-index: 1;
}
.navbar ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  transition: 0.3s ease;
  z-index: -1;
}

.navbar ul li:hover::before {
  width: 100%;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  height: 100%;
  background: transparent;
  border: none;
  padding: 10px;
}
.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: 0.3s ease;
  z-index: 100;
}
.hamburger.focus span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6.5px);
}
.hamburger.focus span:nth-child(2) {
  opacity: 0;
}
.hamburger.focus span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6.5px);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  translate: 100%;
  z-index: 99;
  transition: translate 0.3s ease;
}
.side_active {
  translate: 0;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60%;
  gap: 50px;
}

.sidebar ul li {
  padding: 10px 20px;
  border-bottom: 2px solid var(--background-color);
  border-radius: 10px;
}

/* Hero Section */
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: 0.5s ease;
}

/* Profile Picture */
.profile_pic {
  width: 120px;
  height: 120px;
  background-image: url(../../asset/download-removebg-preview.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.profile_pic #editProfileImgBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile_pic #editProfileImgBtn:hover {
  opacity: 1;
}
.profile_pic #editProfileImgBtn label {
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile_pic #editProfileImgBtn label:hover {
  scale: 1.35;
}

.profile_pic input[type="file"] {
  display: none;
}

/* Username */
.username {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-color);
}

.username button {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.username button:hover {
  color: #0056b3;
}

/* About Section */
.bottom {
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-size: 1.125rem;
  line-height: 1.6;
  color: var(--text-color);
  transition: 0.5s ease;
}

.bottom .bottom_header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 50px;
  z-index: 20;
  background-color: #fff;
}

.bottom .bottom_header::before {
  content: "";
  width: 33.3%;
  height: 5px;
  background-color: var(--primary-color);
  overflow: hidden;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 0.2s ease;
}

.follower:before {
  translate: 100%;
}

.following:before {
  translate: 200%;
}

.bottom .bottom_header button {
  width: 100px;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bottom_display {
  position: relative;
  width: 330%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  overflow-y: scroll;
  transform: translateX(33.56%);
  transition: 0.3s ease;
  padding-top: 20px;
}

.following_display {
  transform: translateX(-33.56%);
}

.followers_display {
  transform: translateX(0);
}

.bottom_display .blogs,
.bottom_display .followers,
.bottom_display .following {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 33.3%;
  height: 100%;
  background-color: #fff;
  border-radius: var(--border-radius);
  font-size: 1.125rem;
  color: var(--text-color);
  overflow-y: scroll;
}

.bottom_display .blogs::-webkit-scrollbar,
.bottom_display .followers::-webkit-scrollbar,
.bottom_display .following::-webkit-scrollbar {
  display: none;
}

.bottom_display .blogs .blog {
  position: relative;
  width: 150px;
  height: 200px;
  border: 1px solid #fff;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}

.bottom_display .blogs .likes {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: #000000c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 10;
  opacity: 0;
  transition: 0.5s ease;
}

.bottom_display .blogs .likes:hover {
  opacity: 1;
}
.bottom_display .blogs .likes i {
  font-size: 1.2rem;
  color: #ff0000;
}
.bottom_display .blogs .likes p {
  color: #fff;
  font-size: 0.85rem;
}

.blogs img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.blog_content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.75rem;
}

.blog_title {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-color);
}

/* Edit User Modal */
/* Modal Styling */
.editUser {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: top 0.3s ease;
  z-index: 1000;
}

.active {
  top: 50%;
}

/* Close Button */
#remove {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
}

#remove:hover {
  background-color: red;
}

/* Input Field */
.editUser input#username {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  outline: none;
}

.editUser input#username::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Save Button */
.editUser .submit {
  background-color: #fff;
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editUser .submit:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Blur Effect */

.blur {
  filter: blur(5px);
  pointer-events: none;
}

/* Spinner */
.spinner {
  display: none;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  border-radius: 50%;
  transform: scale(1);
  animation: spinner-animation 1s infinite ease-in-out;
}

.spinner div:nth-child(1) {
  animation-delay: -0.4s;
}

.spinner div:nth-child(2) {
  animation-delay: -0.2s;
}

.spinner div:nth-child(3) {
  animation-delay: 0s;
}

@keyframes spinner-animation {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .navbar .mainNav {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .bottom_display .blogs .likes {
    opacity: 1;
  }
}
